<h1>管理用ページ</h1>
Adminのみ閲覧可

<div class="tray-light-withedge">
    <h3>現在のサービスステータス</h3>
    <p><%= "ユーザー数: #{User.all.size}" %></p>
    <p><%= "ノート数: #{Note.all.size}" %></p>
    <p><%= "コメント数: #{Comment.all.size}" %></p>
    <p class="mb-0"><%= "進捗どうですか数: #{ShinchokuDodeska.all.size}" %></p>
</div>

<div class="tray-light-withedge">
    <h3>新規アナウンス作成</h3>
    <%= render 'announces/announce_new_form' %>
</div>

<div class="tray-light-withedge">
    <h3>ユーザーリスト</h3>

    <%= will_paginate @users %>

    <%= render @users %>

    <%= will_paginate @users %>
</div>