<div id="comments_container" class="tray-<%= note_color(note) %>-withedge">
  <h3><%= "#{comments.size}件のコメント" %></h3>

  <ul class="nav nav-pills nav-pills-<%= note_color(note) %> nav-fill nav-justified mb-2" id="comments_menu_tab">
    <li class="nav-item">
      <%= link_to '未読', note_comments_path(note, params: { comments_filter: 'unread' }), id:'comments_unread_tab', class: 'nav-link active', remote: true %>
    </li>
    <li class="nav-item">
      <%= link_to '既読', note_comments_path(note, params: { comments_filter: 'read' }), id:'comments_read_tab', class: 'nav-link', remote: true %>
    </li>
    <li class="nav-item">
      <%= link_to 'すべて', note_comments_path(note), id:'comments_all_tab', class: 'nav-link', remote: true %>
    </li>
    <li class="nav-item">
      <%= link_to 'お気に入り', note_comments_path(note, params: { comments_filter: 'favored' }), id:'comments_favored_tab', class: 'nav-link', remote: true %>
    </li>
  </ul>

  <div id="comments">
    <%= render comments %>
  </div>
</div>
