<%= "#{comments.size}件のコメント" %>

<ul>
  <li>
    <%= link_to '未読', note_comments_path(note, params: { comments_filter: 'unread' }), remote: true %>
  </li>
  <li>
    <%= link_to '既読', note_comments_path(note, params: { comments_filter: 'read' }), remote: true %>
  </li>
  <li>
    <%= link_to 'すべて', note_comments_path(note), remote: true %>
  </li>
  <li>
    <%= link_to 'お気に入り', note_comments_path(note, params: { comments_filter: 'favored' }), remote: true %>
  </li>
</ul>

<div id="comments_container">
  <%= render comments %>
</div>
