<% content_for :foot_toolbar do %>
<div class="fixed-bottom foot-toolbar">
  <ul>
    <li id="toggle_note_<%= note.id %>_watchlisted" class="tool <%= 'active' if note.watchlisted_by?(current_user)%>">
      <% if logged_in? %>
        <%= link_to fa_icon('star', text: note.watching_users.count ), note_watchlists_toggle_path(note), method: :post, remote: true %>
      <% else %>
        <%= link_to fa_icon('star', text: note.watching_users.count ), '', data: { toggle: 'modal', target: '#loginModal' } %>
      <% end %>
    </li>
    <li>
      <%= link_to fa_icon('envelope-o', text: note.comments.size), 'javascript:void(0);', onclick: 'showCommentsTab()' %>
    </li>
    <li id="post_note_<%= note.id %>_shinchoku_dodeska" class="<%= 'active' if posted_shinchoku_dodeska_today?(note, current_user) %>">
      <a href="<%= note_shinchoku_dodeskas_path(note)  %>" data-method="post" data-remote="true" rel="nofollow">
        <span class="icon-shinchokunote"></span> <%= note.shinchoku_dodeskas.size %>
      </a>
    </li>
  </ul>
</div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'show_comments_tab', 'data-turbolinks-track': 'reload' %>
<% end %> 