<div class="note cf">
  <%= image_tag(note.user.thumb_url, size: "96x96" , alt: note.user.name, class: "note-thumb") %>
  <div class="note-body">
    <h4>
      <%= link_to note.name, note_path(note) %>
      <%= render(partial: 'projects/stagebadge', locals:{project: note.becomes(Project)}) if note.type == 'Project' %>
    </h4>
    <p class="note-text"><%= note.desc %></p>

    <div class="note-reactionbox cf">
      <span>
        <%= link_to fa_icon('star', text: note.watching_users.size ), note_watchlists_path(note), method: :post, remote: true %>
      </span>
      <span><%= fa_icon 'envelope', text: '5' %></span>
      <span><i>進 55(+3)</i></span>
    </div>
  </div>
  <div class="note-bottombox">
  </div>
</div>
