<div class="media-toolbox cf">
  <div class="toggle_note_<%= note.id %>_watchlisted tool <%= 'active' if note.watchlisted_by?(current_user) %>">
    <% if logged_in? %>
      <%= link_to fa_icon('star', text: note.watching_users.count ), note_watchlists_toggle_path(note), method: :post, remote: true %>
    <% else %>
      <%= link_to fa_icon('star', text: note.watching_users.count ), '', data: { toggle: 'modal', target: '#loginModal' } %>
    <% end %>
  </div>
  <div class="tool">
    <%= fa_icon 'envelope-o', text: note.comments.count %>
  </div>
  <div class="post_note_<%= note.id %>_shinchoku_dodeska tool <%= 'active' if todays_posted_shinchoku_dodeska(note, current_user) %>">
    <%= link_to note_shinchoku_dodeskas_toggle_path(note), method: :post, remote: true do %>
      <span class="icon-shinchokunote"></span> <%= note.shinchoku_dodeskas.count %>
    <% end %>
  </div>
</div>

<div class="media-footer">
  <span><%= smart_time_to_str(note.created_at) %> 作成</span>
</div>
