<div class="media-box">
  <div class="media-content">
    <h5>
      <%= link_to note.name, note_path(note) %>
      <%= render(partial: 'projects/stagebadge', locals:{project: note.becomes(Project)}) if note.type == 'Project' %>
    </h5>
    <%= note.desc %>

    <div class="media-toolbox cf">
      <div id="toggle_note_<%= note.id %>_watchlisted" class="tool <%= 'active' if note.watchlisted_by?(current_user) %>">
        <%= link_to fa_icon('star', text: note.watching_users.count ), note_watchlists_toggle_path(note), method: :post, remote: true %>
      </div>
      <div class="tool">
        <%= fa_icon 'envelope', text: note.comments.count %>
      </div>
      <div class="tool">
        進 55(+3)
      </div>
    </div>

    <div class="media-footer">
      <span><%= smart_time_to_str(note.created_at) %></span>
    </div>
  </div>
</div>
