<h1>ノート編集</h1>

<%= form_for @note, url: {action: :update} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :desc %>
  <%= f.text_field :desc %>

  <%= f.submit "保存", class: "btn btn-primary" %>
<% end %>
