<h1>ノート編集</h1>

<%= form_for @note, url: {action: :update} do |f| %>

  <%= f.hidden_field :type, value: @note.type %>

  <%= f.label :name, 'ページの名称', class: 'mb-0' %>
  <div class="input-group mb-3">
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.label :desc, 'ページの説明文', class: 'mb-0' %>
  <div class="input-group mb-3">
    <%= f.text_area :desc, class: 'form-control' %>
  </div>

  <%= f.label :comment_receive_stance, 'コメント受信範囲', class: 'mb-0' %>
  <%= f.select :comment_receive_stance, [['だれでも', 'everyone'], ['匿名ユーザは除く', 'only_signed'], ['フォロワーのみ', 'only_follower'], ['受け付けない', 'noone']] %>

  <%= f.submit "保存", class: "btn btn-primary" %>
<% end %>
