<h1>新規ページ作成</h1>

<%= form_for @note, url: {action: :create} do |f| %>
  <%= f.select :type, [['リクエストボックス', 'RequestBox'], ['プロジェクト', 'Project'], ['構想中のプロジェクト', 'Idea']] %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :desc %>
  <%= f.text_field :desc %>

  <%= f.submit "作成", class: "btn btn-primary" %>
<% end %>
