<% provide(:title, @note.name) %>

<% content_for :leftcol do %>
  <%= render 'users/user_panel', { user: @note.user } %>
<% end %>

<%= render 'notes/random_button' if @omakase %>

<%# 適したmodelのshowパーシャルを表示 %>
<%= render @note.type.underscore.pluralize + '/show', @note.type.underscore.to_sym => @note %>

<% content_for :leftcol do %>
  <% unless @note.watching_users.empty? %>
    <div class="tray-light-withedge-lightgray">
      <h3><%= @note.watching_users.count %>人のウォッチャー</h3>
      <% @note.watching_users.reverse.take(20).each do |u| %>
        <%= render 'users/user_thumb', user: u %>
      <% end %>
      <%= link_to 'すべて見る', note_watchers_path(@note) %>
    </div>
  <% end %>
<% end %>
