<% provide(:title, @note.name) %>

<h1>
  <%= @note.name %>
  <%= render 'projects/stagebadge', project: @note if @note.type == 'Project' %>
</h1>
<% if current_users_note? @note %>
<%= link_to '編集する', edit_note_path(@note), class: 'btn btn-info btn-sm'  %>
<% end %>

<p><%= @note.desc %></p>

<%= render 'posts/post_form', note: @note if current_users_note?(@note) %>

<%= render 'notes/posts', note: @note %>

<%= render 'comments/comment_form', note: @note unless current_users_note?(@note) %>

<% if user_can_see_comments?(@note, current_user) %>
  <%= render 'notes/comments', {note: @note, comments: @comments} %>
<% end %>

<%= render 'notes/foot_toolbar', note: @note %>
