<%= form_for([note.becomes(Note), Post.new],
              url: note_tweet_posts_path(note),
              html: {method: 'POST'}) do |f| %>
  <%= f.hidden_field :type, value: "TweetPost" %>
  <% if defined?(response_to) %>
    <%= f.hidden_field :response_to, id: "tweet_respond_to", value: response_to.id %>
  <% end %>
  <div class="input-group">
    <%= f.text_area :text, placeholder: 'つぶやく内容', id: 'tweettext_form', class:'form-control' %>
  </div>
  <div id="tweettext_count">0 / <%= defined?(response_to) ? 108 : 110 %></div>
  <div class="input-group mb-2">
    <div id="image_form_virtual">
      <div><%= fa_icon 'photo 2x' %></div>
      <div>クリックで画像を選択</div>
      <div id="image_form_preview"></div>
    </div>
    <%= f.file_field :image, id: "image_form_hidden", multiple: true %>
  </div>
  <div class="text-right">
    <%= f.submit "Twitterでつぶやく", id: "tweet_submit", class: "btn btn-primary" %>
  </div>
<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'tweet_text_box'%>
  <%= javascript_include_tag 'image_form_virtual'%>
<% end %> 
