<%= form_for([note.becomes(Note), Post.new],
              url: note_tweet_posts_path(note),
              html: {method: 'POST'}) do |f| %>
  <%= f.hidden_field :type, value: "TweetPost" %>
  <% if defined?(response_to) %>
    <%= f.hidden_field :response_to, value: response_to.id %>
  <% end %>
  <div class="input-group mb-2">
    <%= f.text_area :text, placeholder: 'つぶやく内容', class:'form-control' %>
  </div>
  <div class="input-group mb-2">
    <%= f.file_field :image %>
  </div>
  <div class="text-right">
    <%= f.submit "Twitterでつぶやく", class: "btn btn-primary" %>
  </div>
<% end %>