<div class="comment mb-3">
<%= link_to comment_path(comment), class: "comment-link" do %>
<div class="media-box">
  <div class="bgstr"><%= fa_icon 'envelope' %></div>

  <div class="media-content">
    <% if defined?(light) %>
      <div class="media-text"><%= comment.text  %></div>
    <% else %>
      <div class="media-text-l"><%= comment.text  %></div>

      <div class="media-toolbox cf">
        <div class="tool"><%= fa_icon 'check', text: '既読' %></div>
        <div class="tool"><%= fa_icon 'star', text: 'お気に入り' %></div>
        <div class="tool"><%= fa_icon 'eye-slash', text: 'ミュート' %></div>
      </div>
    <% end %>

    <div class="media-footer">
      <span><%= smart_time_to_str(comment.created_at) %></span>
      <% unless comment.from_user.nil? || comment.secret_anonimity? %>
        <span class="media-footer-right">by <%= comment.from_user.name %></span>
      <% end %>
    </div>

    <% if !defined?(light) && comment.response_post %>
      <span class="text-muted"><%= fa_icon 'reply', text: 'このコメントに対する返信', class: 'mt-3' %></span>
      <%= render 'tweet_posts/tweet_post', {tweet_post: comment.response_post, light: true} %>
    <% end %>
  </div>
</div>
<% end %>
</div>
