<div class="comment-form control-panel">
  <h3>コメント</h3>

  <div class="coverdbox">
    <%= form_for [note.becomes(Note), Comment.new] do |f| %>
      <%# コメント可能 %>
      <% if logged_in? %>
        <div class="input-group">
          <%= f.check_box :anonimity, class: 'mt-1' %>
          <%= f.label :anonimity, '投稿者を公開する', class: 'ml-2' %>
        </div>
      <% end %>
      <div class="input-group mb-2">
        <%= f.text_area :text, class: 'form-control' %>
      </div>
      <% unless logged_in? %>
        <p class="text-muted small-text">※投稿者を公開したい場合はログインしてください。</p>
      <% end %>
      <div class="input-group">
        <%= f.submit "コメントする", class: "btn btn-primary" %>
      </div>
    <% end %>
    <% unless user_can_comment?(note, current_user) %>
      <%# コメント不可 %>
      <div class="coversbox">
        <p>以下の設定により、<br/>
        このページにはコメントができません。<br/></p>
        <p>「コメント権限: <%= note.comment_receive_stance_i18n %>」</p>
      </div>
    <% end %>
  </div>
</div>
