<%= render 'notes/note_info', note: comment.to_note if defined?(with_note_info) %>
<div class="media-box comment mb-3">
  <div class="bgstr"><%= fa_icon 'envelope-o' %></div>

  <div class="media-content">
    <% if user_can_delete_comment?(comment, current_user) %>
    <div class="media-righttop">
      <a href="" data-toggle="modal" data-target="#deleteComment<%= comment.id %>Modal">
        削除
      </a>
    </div>
    <% end %>

    <% if defined?(light) %>
      <%= comment.text  %>
    <% elsif defined?(heavy) %>
      <div class="media-text-xl"><%= comment.text %></div>
    <% else %>
      <div class="media-text-l"><%= comment.text %></div>

      <div class="media-toolbox cf">
        <div id="toggle_comment_<%= comment.id %>_read_flag" class="tool <%= 'active' if comment.read_flag %>">
          <%= link_to fa_icon('check', text: '既読'), comment_path(comment, params: { comment: { read_flag: 'toggle' } }), method: :put, remote: true %>
        </div>
        <div id="toggle_comment_<%= comment.id %>_favor_flag" class="tool <%= 'active' if comment.favor_flag %>">
          <%= link_to fa_icon('star', text: 'お気に入り'), comment_path(comment, params: { comment: { favor_flag: 'toggle' } }), method: :put, remote: true %>
        </div>
        <div id="toggle_comment_<%= comment.id %>_muted" class="tool <%= 'active' if comment.muted %>">
          <%= link_to fa_icon('eye-slash', text: 'ミュート'), comment_path(comment, params: { comment: { muted: 'toggle' } }), method: :put, remote: true %>
        </div>
        <div>
          <%= link_to '詳細', comment_path(comment), class: "comment-link" %>
        </div>
      </div>
    <% end %>

    <div class="media-footer">
      <span><%= smart_time_to_str(comment.created_at) %></span>
      <% unless comment.from_user.nil? || comment.secret_anonimity? %>
        <span class="media-footer-right">by <%= comment.from_user.name %></span>
      <% end %>
    </div>

    <% if !defined?(hide_response) && comment.response_post %>
      <span class="text-muted"><%= fa_icon 'reply', text: 'このコメントに対する返信', class: 'mt-3' %></span>
      <%= render 'tweet_posts/tweet_post', {tweet_post: comment.response_post, light: true, hide_response: true} %>
    <% end %>
  </div>
</div>

<% unless comment.response_post %>
<div class="modal fade" id="deleteComment<%= comment.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="deleteComment<%= comment.id %>Modal" aria-hidden="true">
  <div class="modal-dialog"role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteComment<%= comment.id %>Modal">コメントを削除します</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>コメント「<%= comment.text %>」を削除します。</p>
        <p class="text-danger font-weight-bold">復元はできません。本当によろしいですか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">キャンセル</button>
        <%= link_to '削除する', comment_path(comment), method: :delete, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
<% end %>
