<div class="comment mb-3">
<%= link_to comment_path(comment), class: "comment-link" do %>
<div class="media-box media-box-with-toolbox">
  <div class="media-text-l"><%= comment.text  %></div>
  <div class="media-footer">
    <span><%= smart_time_to_str(comment.created_at) %></span>
    <% unless comment.from_user.nil? || comment.secret_anonimity? %>
      <span class="media-footer-right">by <%= comment.from_user.name %></span>
    <% end %>
  </div>
</div>
<% end %>
<div class="media-toolbox">
  <span><%= fa_icon 'envelope', text: '既読' %></span>
  <span><%= fa_icon 'star', text: 'お気に入り' %></span>
  <span><%= fa_icon 'envelope', text: 'ミュート' %></span>
</div>
</div>
