<% provide :body_bg, (@comment.to_note.type == 'RequestBox' ? 'body-bg-secondary' : 'body-bg-primary') %>

<% provide(:title, "#{@comment.to_note.name}のコメント") %>

<%= link_to "#{@comment.to_note.name}に戻る", note_path(@comment.to_note) %>
<%= render 'comments/comment', {comment: @comment, heavy: true, hide_response: true} %>
<% if @comment.response_post %>
  <span class="text-muted"><%= fa_icon 'reply', text: 'このコメントに対する返信', class: 'mt-3' %></span>
  <%= render 'tweet_posts/tweet_post', {tweet_post: @comment.response_post, light: true, hide_response: true} %>
<% elsif current_user?(@comment.to_note.user) %>
  <span class="text-muted"><%= fa_icon 'reply', text: '返信する', class: 'mt-3' %></span>
  <%= render partial: 'tweet_posts/tweet_post_new_form', locals: {note: @comment.to_note, response_to: @comment} %>
<% end %>
</div>
