<div class="media-box media-box-info user-partial cf">
    <div class="media-content">
        <div class="bgstr"><%= fa_icon 'user' %></div>

        <div class="row">
            <div class="col-12">
                <%= image_tag user.thumb_url, alt: user.name, class: 'mr-1 rounded-circle user-partial-thumb', size: '64x64' unless user.thumb_url.blank? %>

                <div class="user-partial-body">
                    <%= link_to user.name, user_path(user.screen_name), class: 'user-partial-name' %>

                    <span><%= link_to fa_icon('twitter', text: '@' + user.screen_name), user.url, target:'_new', class: 'text-lightgray' %></span>
                    <p><%= user.desc %></p>
                </div>
            </div>
            <div class="col-12 text-center text-lightgray">最近のノート</div>
            <% user.notes.last(2).each do |n| %>
            <div class="col-12 col-sm-6 mb-2">
                <%= render n %>
            </div>
            <% end %>
        </div>
    </div>
</div>