<% content_for :leftcol do %>
<div class="user-leftcol tray-light mb-3">
  <%= link_to image_tag(user.thumb_url, alt: user.name, class: "mr-1 user-leftcol-thumb rounded-circle", size: "108x108"), user_path(user.screen_name) unless user.thumb_url.blank? %>
  <div>
    <div class="user-leftcol-name"><%= user.name %></div>

    <div><%= link_to fa_icon('twitter', text: '@' + user.screen_name), user.url, target:"_new" %></div>
    <div><%= user.desc %></div>
    <hr>

    <div class="row">
      <div class="col-12 text-center text-lightgray">最近のノート</div>
      <% user.notes.last(2).each do |n| %>
      <div class="col-12 col-sm-6 col-md-12 mb-2">
        <%= render n %>
      </div>
      <% end %>
    </div>

    <%= link_to (current_user?(user) ? 'マイページ' : 'ユーザーページ'), user_path(user.screen_name), class: 'btn btn-primary btn-block' %>
  </div>
</div>
<% end %>