<div class="user-header text-center mb-3">
  <%= link_to image_tag(user.thumb_url, alt: user.name, class: "mr-1 user-header-thumb rounded-circle", size: "160x160"), user.url, target:"_new" unless user.thumb_url.blank? %>
  <div class="user-header-body">
    <span class="user-header-name mr-3"><%= user.name %></span>

    <span><%= link_to fa_icon('twitter', text: '@' + user.screen_name), user.url, target:"_new" %></span>
    <p><%= user.desc %></p>
    <%= link_to '新規ページ作成', new_user_note_path(current_user.screen_name), class:"btn btn-primary", role:"button" if current_user?(user) %>
    <%= link_to '設定', edit_user_path(current_user.screen_name), class:"btn btn-info", role:"button" if current_user?(user) %>
    <hr>
  </div>
</div>