<% content_for :leftcol do %>
  <%= render 'users/user_panel', user: current_user %>
<% end %>

<% content_for :rightcol do %>
    <%= render 'notes/random_button' %>
    <%= render 'users/recommended_users_panel'%>
<% end %>

<% unless newest_comments_count == 0 %>
  <div class="alert alert-success" role="alert">
    <%= newest_comments_count %>件のコメントが新しく届いています！
    <%= link_to '通知を見る', notifications_path(), class: 'btn btn-success' %>
  </div>
<% end %>

<ul class="nav nav-pills nav-justified mb-3" id="posts_tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="watchlist_posts_tab" data-toggle="tab" href="#watchlist_posts" role="tab" aria-controls="watchlist_posts" aria-selected="true">ウォッチリスト</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="all_posts_tab" data-toggle="tab" href="#all_posts" role="tab" aria-controls="all_posts" aria-selected="false">みんなの進捗</a>
  </li>
</ul>
<div class="tab-content" id="tabs-tabContent">
  <div class="tab-pane fade show active" id="watchlist_posts" role="tabpanel" aria-labelledby="watchlist_posts_tab">
    <% if @watching_posts.empty? %>
      <p class="text-center">
        まだウォッチリストに登録されたノートがありません。<br>
        気に入ったノートを登録してみましょう！
      </p>
    <% end %>
    <%= render @watching_posts, with_note_info: true %>
  </div>
  <div class="tab-pane fade" id="all_posts" role="tabpanel" aria-labelledby="all_posts_tab">
    <%= render @newest_posts, with_note_info: true %>
  </div>
</div>
