<h1>通知</h1>

<div class="tray-light-withedge">

    <ul class="nav nav-tabs mb-3" id="notify_tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="notify_all_tab" data-toggle="tab" href="#notify_all" role="tab" aria-controls="notify_all" aria-selected="true">すべて</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="notify_comments_tab" data-toggle="tab" href="#notify_comments" role="tab" aria-controls="notify_comments" aria-selected="false">コメントのみ</a>
    </li>
    </ul>
    <div class="tab-content" id="tabs-tabContent">
    <div class="tab-pane fade show active" id="notify_all" role="tabpanel" aria-labelledby="notify_all_tab">
        
        <% @recent_shinchoku_dodeskas.group_by(&:to_note).each do |n, s| %>

            <div>ノート「<%= n.name %>」に新しく<%= s.size %>件の進捗どうですかが投稿されました！</div>

        <% end %>

        <% @recent_watchlists.group_by(&:watching_note).each do |n, s| %>

            <div>ノート「<%= n.name %>」は新しく<%= s.size %>人のウォッチリストに登録されました！</div>

        <% end %>

        <%= render @to_me_comments %>

        <% @notifications.each do |n| %>

            <%= n[:type] + n[:time].localtime.to_s %><br>

        <% end %>

    </div>
    <div class="tab-pane fade" id="notify_comments" role="tabpanel" aria-labelledby="notify_comments_tab">
        
        <%= render @to_me_comments %>

    </div>
    </div>

</div>
