<div class="note cf">
  <%= image_tag(project.user.thumb_url, size: "96x96" , alt: project.user.name, class: "note-thumb") %>
  <div class="note-body">
    <h4>
      <%= link_to project.name, note_path(project) %>
      <%= render partial: 'projects/stagebadge', locals:{project: project} %>
    </h4>
    <p class="note-text"><%= project.desc %></p>

    <div class="note-reactionbox cf">
      <span class="checked"><%= fa_icon 'star', text: '30' %></span>
      <span><%= fa_icon 'envelope', text: '3' %></span>
      <span><i>進 55(+3)</i></span>
    </div>
  </div>
  <div class="note-bottombox">
  </div>
</div>
