<div class="text-center footer">
    <hr>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <%= link_to '利用規約', terms_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'ヘルプ', help_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'Q&A', faq_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to fa_icon('info', text: 'お知らせ'), announces_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to fa_icon('twitter', text: 'Twitter'), 'https://twitter.com/shinchokunote', class: 'nav-link' %>
        </li>
        <li class="nav-item">
            <%= link_to 'ご意見はこちらまで', note_path(1), class: 'nav-link' %>
        </li>
    </ul>
    <%= link_to image_tag('titlelogo.svg', height: '48', class: 'd-inline-block align-top'), root_path %>
</div>