<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/gtag' %>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <meta name="twitter:card" content="<%= yield_or_default yield(:ogp_twitter_cardtype), 'summary' %>">
    <meta name="twitter:site" content="@<%= yield_or_default yield(:ogp_twitter_account), 'shinchokunote' %>">
    <meta property="og:url" content="<%= request.url %>">
    <meta property="og:title" content="<%= yield_or_default yield(:title), '進捗ノート' %>">
    <meta property="og:description" content="<%= yield_or_default yield(:ogp_desc), 'みんなに進捗を見せて、アドバイスをもらおう。' %>">
    <meta property="og:image" content="<%= yield_or_default yield(:ogp_image), (root_url + 'favicon.ico') %>">

    <!--Service worker settings-->
    <link rel="manifest" href="/manifest.json">

    <%= favicon_link_tag() %>

    <!--Stylesheets-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--JS sources-->
    <%= javascript_tag do %>
      <%= raw "window.vapidPublicKey = new Uint8Array(#{vapid_public_key_base64});\n" %>
    <% end %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body class="<%= yield :body_bg %>">
    <%= render 'layouts/header' %>
    <div class="container" onclick="">
      <div class="row">
        <% if yield(:leftcol).empty? && yield(:leftcol).empty? %>
        <%# 右も左もなかった場合 singlecolクラスを適用する %>
          <div class="maincol singlecol col-12">
            <%= render 'layouts/flashes' %>
            <%= yield %>
            <%= render 'layouts/debug_info' if Rails.env.development? %>
          </div>
        <% else %>
        <%# 右と左がどちらかでも存在した場合 分割された可変colを使用する %>
          <div class="leftcol col-xl-3 col-md-4 order-md-1 order-2">
            <%= yield :leftcol %>
          </div>
          <div class="maincol col-xl-6 col-md-8 order-md-2 order-1">
            <%= render 'layouts/flashes' %>
            <%= yield %>
          </div>
          <div class="rightcol col-xl-3 order-3">
            <%= yield :rightcol %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :foot_toolbar %>
    <%= render 'users/login_modal' unless logged_in? %>
    <%= yield :modals %>

    <%= render 'layouts/debug_info' if Rails.env.development? %>
  </body>
</html>
