<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/gtag' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">

    <%= favicon_link_tag() %>

    <!--Stylesheets-->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--JS sources-->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascript %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row">
        <% if yield(:leftcol).empty? && yield(:leftcol).empty? %>
        <%# 右も左もなかった場合 singlecolクラスを適用する %>
          <div class="maincol singlecol col-12">
            <%= render 'layouts/flashes' %>
            <%= yield %>
            <%= render 'layouts/debug_info' if Rails.env.development? %>
          </div>
        <% else %>
        <%# 右と左がどちらかでも存在した場合 分割された可変colを使用する %>
          <div class="leftcol col-xl-3 col-md-4 order-md-1 order-2">
            <%= yield :leftcol %>
          </div>
          <div class="maincol col-xl-6 col-md-8 order-md-2 order-1">
            <%= render 'layouts/flashes' %>
            <%= yield %>
          </div>
          <div class="rightcol col-xl-3 order-3">
            <%= yield :rightcol %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :foot_toolbar %>
    <%= render 'users/login_modal' unless logged_in? %>
    <%= yield :modals %>

    <%= render 'layouts/debug_info' if Rails.env.development? %>
  </body>
</html>
